{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "react-native-paper/babel",
      "module-resolver",
      {
        "alias": {
          "react-native-vector-icons": "@expo/vector-icons"
        }
      }
    ]
  ]
}
